body {
    height: 100%;
    background-color: #ffffff;
}

#testimonials {
    text-align: center;
    background-color: #0597F2;
    color: #ffffff;
}


.col-md {
    padding-top: 4rem;
    padding-bottom: 4rem;
}


/* Features Section */

#features {
    padding: 7% 10%;
    background-color: #7EAED9;
    position: relative;
}

.row {
    margin: 2rem 2rem;
    text-align: center;
}

.section-page-travel{
    padding: 7%, 10%;
    background-color:#697C8C;
    position: relative;
    text-align: center;
}

.section-page-contact{
    padding: 7%, 10%;
    background-color: #F2B84B;
    position: relative;
    text-align: center;
}

.col-md {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.fa-heart:hover {
    color: #ff4c68;
}



/* Footer Area */

#footer {
    background-color: #ffffff;
    text-align: center;
    padding-top: 20px;
}

.social-media-icon {
    margin: 10px;
}


#info {
    color: #ffffff;
    text-justify: distribute-all-lines;
    text-align: justify;
    text-justify: inter-word;
}

.cover {
    padding: 0 1.5rem;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}


@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}

/* Travel Goals Section*/

#travel-goals{
 padding-top: 12rem;
 padding-bottom: 12rem;

}

/* Contact Us */

#contact{
    padding-top: 12rem;
    padding-bottom: 12rem;
}


.masthead-brand {
    margin-bottom: 0;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: black;
}

/* Masthead */

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

.masthead-brand {
    margin-bottom: 0;
}

.h1 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: #ffffff;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}



#profile{
    padding-top: 20rem;
}

/* Cover */

.card-title{

    font-size: 100px;
    font-weight: bold;
}

.card-text{
    font-size: x-large;
}
